git+https://github.com/HumanBrainProject/openid_http_client.git#egg=openid_http_client&subdirectory=openid_http_client
git+https://github.com/HumanBrainProject/pyxus.git#egg=pyxus&subdirectory=pyxus
pathlib2
python-dateutil
six
tabulate
requests
tqdm
